.jumbotron {
  padding-top: 6rem;
  background: #a770bd;
}

#projects {
  background: #a770bd;
}

footer {
  background-color: #a770bd;
}

section {
  padding-top: 8rem;
}

.card {
  text-align: center;
}

.swal-overlay {
  background-color: rgba(139, 134, 218, 0.45);
}
